#button--Betty,
#button--Jelly,
#button--Patrick,
#button--Willy,
#button--Ozzie,
#button--Thurman {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 55px;
  transition-duration: 0.4s;
  cursor: pointer;
}
#button--Betty:hover,
#button--Jelly:hover,
#button--Willy:hover,
#button--Patrick:hover,
#button--Ozzie:hover,
#button--Thurman:hover {
  background-color: #555555;
  color: white;
}

#button--Harpoon,
#button--Dive-Caught,
#button--Cleaning {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 75px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button--Harpoon:hover,
#button--Dive-caught:hover,
#button--Cleaning:hover {
  background-color: #555555;
  color: white;
}

.button--close {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 55px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button--close:hover {
  background-color: #555555;
  color: white;
}
