@import "nav.css";
@import "locations.css";
@import "fish.css";
@import "tip.css";

/* Main container and side bar styling */
.main-container {
  display: flex;
  justify-content: space-between;
}

/* Code credit to

https://dev.to/clairecodes/how-to-make-a-sticky-sidebar-with-two-lines-of-css-2ki7

Card code was taken from W3 Schools
*/
